.btn-container {
  padding-bottom: 1em;
}

.button {
  display: inline-block;
  color: var(--color-primary);
  padding: 2rem 3rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}

.button-primary {
  border: .05em solid $pink;
  box-shadow: 4px 4px 0 0 $pink;
  transition: all .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  box-sizing: border-box;
  top: 0;
  left: 0;
  &:hover, &:focus {
    top: 4px;
    left: 4px;
    box-shadow: 0px 0px 0px 0px transparent;
  }
}

.button:hover,
.button:focus {
  
}

.button:focus:hover {
  outline: none;
}

.button:focus:not(:hover) {
  outline: 1px solid var(--color-action-text);
  outline-offset: -4px;
}

button[type="submit"] {
  font-size: 1rem;
  padding: 1.25em 2rem;
  background-color: transparent;
}