.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  padding: 2.5em;
  z-index: 11;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  appearance: none;
  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover {
    cursor: pointer;
  }
}
