.post {
  &__body {
    --flow-space: #{get-size(800)};
    max-width: 800px;
    max-width: 100ch;
    /**
     * Generic HTML styles 
     */
    h2 + *,
    h3 + * {
      --flow-space: #{get-size(500)};
    }

    h2,
    h3,
    h4 {
      position: relative;
      line-height: 0.8;
    }

    p {
      font-size: 1.2rem;
    }

    a:not([class]) {
      color: var(--color-primary);
      position: relative;
      display: inline-block;
      background: var(--color-theme-highlight); 
      padding: 0.2rem 0.4rem 0.3rem 0.4rem;
      text-decoration: none;
      word-break: break-word;
      @include apply-utility('leading', 'tight');
    }

    a:not([class]):hover {
      text-decoration: underline;
    }

    * + * {
      margin-top: 1em;
    }

    blockquote {      
      margin: get-size(900) auto;      
      max-width: 75%;
      p {
        padding: 0;
        font-style: italic;
        font-size: get-size(600);
        box-shadow: .5rem 0 0 $pink, -.5rem 0 0 $pink;
        display: inline;
        background-color: $pink;
      }
    }

    ol:not([class]),
    ul:not([class]) {
      margin-left: get-size(800);
      font-size: 1.25rem;
      li + li {
        margin-top: get-size(300);
      }
      li p {
        margin-top: 0;
      }
      &:last-child() {
        margin-bottom: 2em;
      }
    }

    figure {
      background-image: url('../../images/photography.png');
      background-repeat: repeat;
      padding: 1rem;
    }

    figure img {
      position: relative;
      z-index: 1;
      display: block;
    }

    figcaption {
      font-size: 1.25em;
      padding: 0 1rem;
      text-align: center;
    }

  }

}

@media (min-width: 40em) {

  .post {
    display: flex;
  }

  .post__body {
    blockquote p {
      font-size: 2.4rem;
    }
  }

}
