.site-header {
  grid-column: 2 / 7;
  margin-top: 5vw;
}

.site-header a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.site-header h2 {
  margin-top: 7.5vw;
  font-size: 3rem;
  font-weight: bold;
}

.site-title {
  font-size: 1.4rem;
  letter-spacing: .2em;
}

#main-content.home {
  grid-column: 2 / 7;
  margin-top: 5vw;
}
