.site-header {
  grid-column: 1 / 8;
  padding: 0 10%;
}

.site-header a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.site-title {
  font-size: 1.4rem;
}

#main-content {
  grid-column: 1 / 8;
}
