.site-foot {
  margin: 5vw 0 80px;
  a {
    color: $primary; 
    text-decoration: none;
    font-size: 1.4rem;
    background-color: $pink;
    padding: .4rem .8rem;
    display: inline-flex;
    align-items: center;
    &:hover {
      text-decoration: underline;
    }
  }
  svg {
    margin-right: 1rem;
  }
}

@media (min-width: 40em) {

  .site-foot a {
    font-size: 2rem;
  }

}