.site-foot {
  grid-column: 1 / 4;
  margin-top: 5vw;
  a {
    color: var(--color-primary);
    background-color: pink;
    width: 100%;
    display: block;
    text-decoration: none;
    padding: 2rem 0;
    text-align: center;
    &:hover {
      
    }
  }
}
