{% if postListItems.length %}
  <section class="posts">
    
      <h2 class="post-heading">{{ postListHeading }}</h2>
      <ol class="post-list" reversed>
        {% for item in postListItems %}
          {% if item.date.getTime() <= global.now %}
            <li class="post-list__item">
              <figure>
                <img src="{{ item.data.featuredimage }}" alt="{{ item.data.title }}"/>
              </figure>
              <h3>
                <a href="{{ item.url }}" class="post-list__link" rel="bookmark">{{ item.data.title }}</a>
              </h3>
              <p>
                <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
              </p>
            </li>
          {% endif %} 
        {% endfor %}
      </ol>
    
  </section>
{% endif %}
