<footer role="contentinfo" class="site-foot">
           
    {% if site.name %}  
      
      <a href="https://instagram.com/cycle_souls" target="_blank">Follow us on Instagram</a>
      
    {% endif %}  

</footer>
