<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="">
  
    <a href="/" class="">
      <span class="visually-hidden">{{ site.name }} - Home</span>
      <span aria-hidden="true">{{ site.name }}</span>
    </a>

  
</header>

