<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="site-header">
    
    <a href="/" class="">
      <span class="visually-hidden">{{ site.name }} - Home</span>
      <h1 class="site-title" aria-hidden="true">{{ site.name }}</h1>
    </a> 

    <h2>{{ introHeading }}</h2>
  
</header>

