{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}{{ content | safe }}{% endset %}

{# Post list content #}                
{% set postListItems = collections.posts %}
   
{# Tags #}
{% set tags = collections | keys | except %}

{% block content %} 
  <main id="main-content" tabindex="-1">
    {{ content | safe }}
    {% include "partials/components/all-posts.njk" %}
  </main>
  <section class="tag-section">
    <h3>Explore by Topic</h3>
    <ul class="tags"> 
      {% for tag in tags %}
        
        <li>
          <a href="/tags/{{ tag | url }}">{{ tag }}</a>
        </li>

      {% endfor %}

    </ul>
  </section>
{% endblock %}  
