{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
 
{% block content %} 
   
  <main id="main-content" tabindex="-1">
    
    <article class="[ post ] [ h-entry ]">

      <div class="page pad-top-900 pad-bottom-900 leading-loose">
        <h2>{{ introHeading }}</h2> 
        
        {{ content | safe }} 
      
      </div> 
    </article> 
  </main>

  {% if title == 'About' %}
    <figure class="image-full">  
      <img src="../images/about.jpg" alt="A montage of photos including Portobello beach, an Outer Hebridean beach and an Italian river" />
    </figure>
  {% endif %}

{% endblock %}

{{ content | safe }}
