---
title: Tag Archive
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
    - postFeed
  addAllPagesToCollections: true
permalink: /tags/{{ tag }}/
---
 
{% extends 'layouts/base.njk' %}
  
{# Intro content #}
{% set introHeading %}{{ tag | capitalize }} Posts{% endset %}
{% set introHeadingLevel = '2' %}          

{# Post list content #}
{% set postListHeadingLevel = '2' %}
{% set postListItems = collections[tag] %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <h2>{{ introHeading }}</h2>
    {% include "partials/components/all-posts.njk" %}
    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}
