@import 'config';

// Pull in the stalfos lib
@import '../../node_modules/stalfos/stalfos.scss';

@import 'theme';

// Local dependencies
@import 'typography';

$border-color: rgba(52, 61, 68, 0.05);
$box-shadow: rgba(52, 61, 68, 0.1) 0px 1px 2px;
$box-shadow-hover: rgba(52, 61, 68, 0.1) 0px 4px 4px;
$border-radius: 4px; 

$pink: #f9d0d8;

/**
 * GLOBAL STYLES
 */
html
{
  height: 100%;
}

body {
  scroll-behavior: smooth;
  min-height: 100%;
}

// For when metric attributes are added to img elements
img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

:focus {
  outline: 1px solid $pink;
  outline-offset: 0.5rem;
}

.link-overlay:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/**
 * PROJECT IMPORTS
 */

// Utils
@import 'utilities/sections';
@import 'utilities/visually-hidden';
// @import 'utilities/wrapper';

// Components
@import 'components/button';
@import 'components/form';
@import 'components/grid';
@import 'components/hamburger';
@import 'components/heading-permalink';
@import 'components/hero-image';
@import 'components/image';
@import 'components/intro';
@import 'components/nav';
@import 'components/page';
@import 'components/pagination';
@import 'components/post';
@import 'components/post-list';
@import 'components/share';
@import 'components/site-head';
@import 'components/site-foot';
@import 'components/skip-link';
@import 'components/tags';
// @import 'components/syntax-highlighting';
// @import 'components/video-player';
